.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
}

.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
  
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}