
<div class="container-lg">
    <div class="table-responsive1">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Users</h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new" (click)="onAddUser()"><i class="fa fa-plus"></i> Add User</button>
                        
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let user of users">
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.emailAddress}}</td>
                        <td >
                           
                            <button mat-raised-button color="primary" class="mr-2" (click)="onEditUser(user)">Edit</button>
                            <button mat-raised-button color="warn" class="mr-2" (click)="onDeleteUser(user)">Delete</button>
                         
                        </td>
                    </tr>
                       
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" *ngIf="users?.length>0" style="float: right;">
        <mat-paginator #Paginator [length]="totalRecordCount"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onPageclickevent($event)"
              aria-label="Select page">
</mat-paginator>
    </div>
</div>    
